label {
    display: inline;
}

.delete-btn {
    cursor: pointer;
    margin-left: 10px;
    padding: 1px 10px;
    background-color: #DA0037;
}

.delete-btn:hover {
    background-color: rgba(218,0,55,0.8);
}
